altair==4.2.2
folium==0.14.0
numpy==1.21.5
pandas==1.4.4
Pillow
Pillow
Pillow==9.5.0
Pillow==9.5.0
plotly==5.9.0
pyttsx3==2.90
Requests==2.29.0
streamlit==1.20.0
streamlit_ace==0.1.1
streamlit_folium==0.11.1
streamlit_lottie==0.0.3
tqdm==4.64.1
tqdm==4.65.0
